body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to right, #E22865, #37ADCD);
}
h1 {
    text-align: center;
    color: #2c3e50;
}
p {
    color: #34495e;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
button {
    background-color: #2980b9;
    color: white;
    padding: 10px 20px;
    border: 50px;
    border-radius: 55px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 16px;
    width: 20%;
    text-align: center;
}
button:hover {
    background-color: #3498db;
    align-items: center;
}